*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: minmax(60px, auto) minmax(60px, auto) minmax(60px, auto);
    grid-template-rows: repeat(3, minmax(100px, auto));
}

.item{
    border: 5px solid #00bcd4;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
